<include file='common:header'/>
<body id="J_agent">
	<include file='common:aside'/>
	<include file='common:top'/>
	<div class="Main">
		<div class="CommonBox">
			<h2 class="commonHd"><i class="icon-datashow"></i>代理商资料</h2>
			<div class="commonBd">
				<table class="Table">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>手机号</th>
							<th>身份证号</th>
							<th>所在城市</th>
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="list" id="vo" empty="$empty">
						<tr>
							<td><{$vo.username}></td><td><{$vo.sex|getSex}></td><td><{$vo.phone}></td><td><{$vo.identity}></td><td><{$vo.location}></td><td><{$vo.addtime|date="Y-m-d H:i",###}></td><td><a href="<{:U('agent/edit',array('id'=>$vo['id']))}>" class="green" title="编辑">编辑</a></td>
						</tr>
					</volist>
					</tbody>
				</table>
				<div class="clearfix">
					<ul class="pagination fr">
						<{$page}>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>