<include file='common:header'/>
<body id="J_dashboard">
	<include file='common:aside'/>
	<include file='common:top'/>
	<div class="Main">
		<div class="CommonBox">
			<h2 class="commonHd"><i class="icon-datashow"></i>数据统计</h2>
			<div class="commonBd">
				<ul class="countList">
					<li><strong>学习币总数</strong><b>1000</b></li>
					<li><strong>学习币库存</strong><b>1000</b></li>
					<li><strong>已激活会员</strong><b>1000</b></li>
					<li><strong>直接激活会员</strong><b>1000</b></li>
					<li><strong>代理商总数</strong><b>1000</b></li>
				</ul>
			</div>
		</div>
		<div class="clearfix">
			<div class="col-2">			
				<div class="CommonBox">
					<h2 class="commonHd"><i class="icon-datachart"></i>注册会员统计</h2>
					<div class="commonBd">
						所有会员总数/天
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="CommonBox">
					<h2 class="commonHd"><i class="icon-datachart"></i>激活会员统计</h2>
					<div class="commonBd">
						1
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>