<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>代理商后台管理中心</title>
	<link rel="stylesheet" href="__PUBLIC__/static/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/tpl/agent/css/common.css">
</head>
<body>
	<include file='common:aside'/>
	<include file='common:header'/>
	<div class="Main">
		<div class="CommonBox">
			<h2 class="commonHd"><i class="icon-datashow"></i>数据统计</h2>
			<div class="commonBd">
				<ul class="countList">
					<li><strong>学习币总数</strong><b>1000</b></li>
					<li><strong>学习币库存</strong><b>1000</b></li>
					<li><strong>已激活会员</strong><b>1000</b></li>
					<li><strong>直接激活会员</strong><b>1000</b></li>
					<li><strong>代理商总数</strong><b>1000</b></li>
				</ul>
			</div>
		</div>
		<div class="clearfix">
			<div class="col-2">			
				<div class="CommonBox">
					<h2 class="commonHd"><i class="icon-datachart"></i>注册会员统计</h2>
					<div class="commonBd">
						1
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="CommonBox">
					<h2 class="commonHd"><i class="icon-datachart"></i>激活会员统计</h2>
					<div class="commonBd">
						1
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>