@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uc64a9');
  src:  url('fonts/icomoon.eot?uc64a9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uc64a9') format('truetype'),
    url('fonts/icomoon.woff?uc64a9') format('woff'),
    url('fonts/icomoon.svg?uc64a9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e900";
}
.icon-username:before {
  content: "\e901";
}
.icon-verify:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-agent:before {
  content: "\e904";
}
.icon-account:before {
  content: "\e905";
}
.icon-count:before {
  content: "\e906";
}
.icon-member:before {
  content: "\e907";
}
.icon-arrow:before {
  content: "\e908";
}
.icon-datashow:before {
  content: "\e909";
}
.icon-datachart:before {
  content: "\e90a";
}
.icon-coin:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-sponsor:before {
  content: "\e90d";
}
