/* login style */
.login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 570px;
	padding-top: 45px;
	margin: 0 auto;
	background: #dae1d9 url(../images/loginBg.jpg) center no-repeat;
}
.loginHd{
	color: #00264d;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
}
.loginLogo{height: 146px;}

.loginForm{
	width: 332px;
	margin: 0 auto;
}
.loginForm .items{
	padding: 1px;
	position: relative;
	height: 44px;
	margin-bottom: 16px;
	background: #dedede;
	border-radius: 3px;
}
.items:after{
	position: absolute;
    right: 42px;
    top: 2px;
    content: "";
    width: 1px;
    height: 40px;
    background: #b0b0b0;
    border-left: 1px solid #f0f0f0;
}
.loginForm .items i{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 40px;
	color: #828282;
	text-align: center;
}
.loginForm .ipt-text,.loginForm .ipt-verify{
	width: 100%;
	height: 42px;
	padding: 5px 54px 5px 12px;
	border: 1px solid #a0a0a0;
	border-radius: 3px;	
}
.loginForm .ipt-text:focus,.loginForm .ipt-verify:focus{
	border-color: #007eff;
	box-shadow: 0 0 1px #007eff;
}

.verifyItems{height: 44px;margin-bottom: 14px;}
.verifyItems .items{width: 216px;float: left;}
.verify-pic{width: 100px;height: 44px;border-radius: 3px; float: right;cursor: pointer;background: #f3fbfe;}
.loginButton{
	border: 1px solid #4e6e8f;
	background: #264e78;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	display: block;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'Microsoft YaHei';
	letter-spacing: 3px;
}
