<link rel="stylesheet" href="__PUBLIC__/tpl/agent/css/aside.css">
<div class="Aside">
	<div class="AsideUserface"><img src="__PUBLIC__/static/images/agentFace.jpg" alt=""></div>
	<div class="AsideUserInfo">13007128888 <br>一个亿</div>
	<ul class="AsideList">
		<li class="cur"><a href="<{:U('index/index')}>"><i class="icon-dashboard"></i>首页</a></li>
		<li><a href="<{:U('index/agent')}>"><i class="icon-agent"></i>代理商资料</a></li>
		<li><a href="<{:U('index/add')}>"><i class="icon-account"></i>开代理商后台</a></li>
		<li><a href="<{:U('index/count')}>"><i class="icon-count"></i>代理商统计</a></li>
		<li><a href="<{:U('index/count')}>"><i class="icon-count"></i>学习币充值</a></li>
		<li><a href="<{:U('index/member')}>"><i class="icon-member"></i>会员数据</a></li>
	</ul>
</div>